@import "tailwindcss";

@theme {
  --font-Starshines: var(--font-Starshines);
  --font-Helvetica-Rounded: var(--font-Helvetica-Rounded);
  --font-Poppins: var(--font-Poppins);
}

html, body {
  overflow-x: hidden;
  width: 100%;
}